<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-5">            
            <app-doctor-list [doctor]="selectedDoctor"></app-doctor-list>
        </div>
        <div class="col-md-7">            
            <app-tabs [doctor]="selectedDoctor" (tabSelected)="onTabNavigate($event)"></app-tabs>
            <app-todo-list [doctor]="selectedDoctor" [hidden]="selectedTab !== navigationTabs.todo"></app-todo-list>
            <app-doctor-details [doctor]="selectedDoctor" [hidden]="selectedTab !== navigationTabs.details"></app-doctor-details>            
        </div>
    </div>
</div>