<ul class="nav nav-tabs" *ngIf="doctor && doctor.id; else selectDoctor">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab===navigationTabs.todo" href="#" (click)="onSelect(navigationTabs.todo)">To Do</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab===navigationTabs.details" href="#" (click)="onSelect(navigationTabs.details)">Details</a>
    </li>
</ul>

<ng-template #selectDoctor><h1>Select a doctor to get started!</h1></ng-template>